.ribbon-tab{
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#eaedf1));
}

.ribbon-group{
	position:relative;
	float:left;
	border-style:solid;
	border-width:1px;
	border-color:transparent;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
}

.ribbon-group-title{
	position: absolute;
	left:0;
	bottom:0;
	text-align:center;
	width:100%;
	height:14px;
	line-height:14px;
	top: 115px;
}

.ribbon-group .l-btn{
	float:left;
}

.ribbon-group-sep{
	float:left;
	width:0;
	height:180px;
	font-size:0;
	margin:0 2px;
}

.ribbon-group-sep-hr {
	display: none;
}

html {
	min-width: 1150px;
}

#ribbon_shower {
	font-size: 35px;
}
