todo
.env
_ALL.js
cosmo_ok
beta
table2.csv
timetable.csv
memoized.db
git_hash
exhibition
exhibition_OLD
matomo/tmp/
matomo/config/
core/.htaccess
favicon.ico
js/.htaccess
lang/.htaccess
libs/.htaccess
misc/user/.htaccess
node_modules/.htaccess
plugins/.htaccess
vendor/.htaccess
matomo/core/.htaccess
matomo/js/.htaccess
matomo/lang/.htaccess
matomo/libs/.htaccess
matomo/misc/user/.htaccess
matomo/node_modules/.htaccess
matomo/plugins/.htaccess
matomo/vendor/.htaccess
matomo/tmp/
matomo/plugins/
