html {
	color: #000000;
	background: #ffffff;
}

.less_transparent_glass_box {
	background: white;
	border: solid #a3a8ac 1px;
}

.glass_box {
	background: white;
	border: solid #a3a8ac 1px;
}

#ribbon {
	background: #f5f3f3;
	color: #362b36;
}

.ui-widget-content a {
	color: #362b36;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #19439c;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	background: #f5f3f3;
	color: #ffffff;
}

.ui-widget-header a {
	color: #222222;
}

button, select, input, #predict_own_data {
	background-color: #ffffff;
	color: black;
}

button {
	border: 1px solid rgba(255,0,0,0);
	background-color: #ffffff;
	outline:none;
	color: black;
}

select {
	background-color: #ffffff;
	color: black;
}

button:hover {
	background-color:#b7c8dc;
}

select:hover {
	border: 1px solid #9a9a9a;
	background-color:#b7c8dc;
}

input:hover {
	border: 1px solid #9a9a9a;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
	background: #f5f3f3;
	border: 1px solid #bababa;
	color: #2779aa;
}

.ui-state-default:hover {
	background: #c2c0c0;
	border: 1px solid #bababa;
	color: #2779aa;
}

.ui-tabs-active {
	background: red;
	border: 1px solid #bababa;
	color: #2779aa;
}


.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
	background: #fff;
	border: 1px solid #bababa;
	font-weight: bold;
	color: yellow;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	color: darkgray;
	background-color: #f5f3f3;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
	cursor: text;
	color: black;
}

.footer>a:visited, .footer>a, .footer>a:link {
	color: black;
}

.sources_popup_link {
	filter: invert(0);
}

.fcnn_desc_text {
	color: black;
}

#explanation {
	filter: invert(0);
}

#tablist {
	background: #8cc0da; 
}

#math_tab {
	background-color: #fff;
	color: #000;
}

#status_bar {
	background-color: #e5e5e5;
}

#log {
	background-color: white;
	color: black;
}

hr {
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #ffffff;
}
