html {
	font-family: sans-serif;
	font-size: 0.8em;
}

.container {
	width: 80%;
	margin: auto;
	padding: 10px;
}

.left {
	width: 15%;
	float: left;
	height: auto;
}

.right {
	margin-left: 15%;
	height: auto;
}

#error {
	color: red;
	background-color: white;
}

#logout {
	color: red;
}

.configtable {
	width: 100%;
}

#output {
	max-width: 120px;
	max-height: 120px;
}

.layer {
	min-height: 40px;
	margin-bottom: 5px;
}

.current {
	overflow: auto;
}

#progressbar {
	margin-top: 20px;
}

.progress-label {
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
}

.ui-dialog-titlebar-close {
	display: none;
}

.layer_data {
	overflow-y: auto;
}

#predict_error {
	color: red;
	background-color: white;
}

.kernel_layer_image {
	image-rendering: crisp-edges;
	margin: 5px;
}


.layer_image {
	image-rendering: crisp-edges;
	margin: 5px;
}

.image_grid {
	overflow-y: auto;
}

.upload-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
}

.btn {
	border: 2px solid gray;
	color: gray;
	background-color: white;
	padding: 8px 5px;
	font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

.side_by_side_container {
	width: 99%;
	margin: auto;
	margin-bottom: 30px;
	padding: 10px;
}

.left_side {
	min-width: 500px;
	float: left;
	margin-left: -40px;
}

@media only screen and (min-width: 600px) {
	.left_side {
		min-width: 500px;
		float: none;
		margin-left: -40px;
	}
}

.right_side {
	overflow: hidden;
	margin-bottom: 50px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.draggable_item {
	padding: 0px;
}

input {
	line-height: 1.5em;
}

.ribbon-toolbar {
	margin: auto;
	text-align: center;
}

.optimizer_metadata_input {
	max-width: 100px;
}

.ribbon_tab_content {
}

.warning_container {
	background-color: red;
}

.warning_layer {
}

.placeholder {
	outline: 1px dashed #0f0f0f;
}

.input_image_grid {
	overflow-y: auto;
}

.add_remove_layer_button {
	width: 30px;
	margin-left: 1px;
	margin-right: -5px;
}

.add_layer {
	color: #00ff00;
}

.remove_layer {
	color: red;
}

.layer_data_visualizations {
	display: flex;
	align-items: center;
}

.symbol_button {
	user-select: none;
}

.enabled_symbol {
	color: #4272c5;
	cursor: pointer;
}

.disabled_symbol {
	color: #b4b4b4;
	cursor: not-allowed;
	opacity: 0.7;
}

.popup {
	position: absolute;
	min-width: 600px;
	width: 99%;
	z-index: 999;
	display: none;
	top: 0;
	left: 0;
	border: 1px solid #ddd;
	overflow: hidden;
	padding: 10px;
}

.layer_setting {
	width: 400px;
}

.input_field {
	width: 100%;
}

button {
}

.layer_type {
}

.vg-tooltip-hidden {
	display: none !important;
}

.kernel_initializer_tr {
	background-color: rgba(16, 255, 147, 0.4);
}

.activity_initializer_tr {
	background-color: rgba(10, 190, 6, 0.4);
}

.gamma_initializer_tr {
	background-color: rgba(10, 255, 16, 0.4);
}


.recurrent_initializer_tr{
	background-color: rgba(0, 3, 231, 0.4);
}

.moving_mean_initializer_tr {
	background-color: rgba(122, 35, 255, 0.4);
}

.moving_variance_initializer_td {
	background-color: rgba(122, 35, 16, 0.4);
}

.beta_initializer_tr {
	background-color: rgba(47, 55, 16, 0.4);
}



.bias_initializer_tr {
	background-color: rgba(147, 255, 16, 0.4);
}

.bias_regularizer_tr {
	background-color: rgba(255, 147, 16, 0.4);
}

.activity_regularizer_tr {
	background-color: rgba(125, 11, 125, 0.4);
}

.kernel_regularizer_tr {
	background-color: rgba(50, 10, 155, 0.4);
}

.activation_tr {
	background-color: rgba(52, 120, 155, 0.4);
}

.medium_vskip {
	height: 15px;
}

.small_vskip {
	height: 5px;
}

#last_layer_shape_warning {
	background-color: white;
	color: red;
}

#demomode {
	width: 100%;
	padding: 10px;
	margin: 10px;
}

.layer_type {
	width: 95%;
}

#ribbon {
	width:100%;
	height: 160px;
	overflow-y: hidden;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	border-bottom: 1px solid gray;
}

body {
	margin: 0px;
	cursor: default;
}

#maindiv {
	position: relative;
	width: 98%;
}

#history_table>table, #history_table>th, #history_table>td {
	border: 1px solid ;
}

#summary {
	overflow: auto;
	text-align: center;
}

.remove_layer {
	position: absolute;
	left: 46px;
}

.layer_identifier {
	position: absolute;
	left: 85px;
	margin-top: 6px;
}

#optimizer_table {
	margin-top: -10px;
}

.descriptions_of_layers {
	font-size: 12px;
}

.download_img {
	margin: 1px;
}

.max_prediction {
	color: green;
}

.own_image_span {
	user-select: none;
	display: inline-block;
	margin-right: 5px;
	border: 1px solid #747474;
}

button:disabled {
	color: #555555;
}

button:disabled:hover {
	color: #555555;
	background-color: #222222;
	cursor: not-allowed;
}


.ui-tabs-tab, .ribbon-toolbar, .ribbon-group-title, .descriptions_of_layers, .layer_identifier, .layer_options_internal, .layer_setting {
	user-select: none;
}

.loss_explanation {
	width: 100%;
}

#wizard_lr {
	display: flex;                  /* establish flex container */
	flex-direction: row;            /* default value; can be omitted */
	flex-wrap: nowrap;              /* default value; can be omitted */
	justify-content: space-between; /* switched from default (flex-start, see below) */
}

#tensor_number_debugger {
	color: white;
}

.layer_nr_desc {
	display: none;
}

.descriptions_of_layers {
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	writing-mode: vertical-rl;
	background-color: white;
	border: solid #a3a8ac 1px;
	width: 55px;
	text-align: center;
}

#webcam_prediction {
	font-size: 20px;
}

#prediction {
	font-size: 20px;
}


#handdrawn_predictions {
	font-size: 20px;
}

.predict_demo_result {
	font-size: 20px;
}

#webcam_data {
	position: fixed;
	left: 10px;
	bottom: 30px;
}

.fireworks-container {
	z-index: 10;
	top: 0;
	left: 0;
	position: fixed;
	height: 100%;
	width: 100%;
	display: none;
}

#status_bar {
	user-select: none;
	height: 1.5em;
	width: 100%;
	position: fixed;
	bottom: 0px;
	border: 1px groove #626262;
	z-index: 99999;
}

#data_progressbar {
	margin-top: 4px;
	display: none;
	height: 3px;
	background-color: #909090;
	padding: 3px;
	width: 100px;
}

#data_progressbar>div{
	background-color: orange;
	width: 0%;
	height: 3px;
}

.bar {
	margin-top: 4px;
	display: inline-block;
	height: 3px;
	background-color: #909090;
	padding: 5px;
	width: 100px;
}

.bar>span{
	background-color: orange;
	width: 0%;
	height: 6px;
	display: block;
}

.highest_bar {
	background-color: green !important;
}


#training_progressbar {
	margin-top: 4px;
	display: inline-block;
	height: 3px;
	background-color: #909090;
	padding: 3px;
	width: 100px;
}

#training_progressbar>div{
	background-color: orange;
	width: 0%;
	height: 3px;
}

#status_bar_log {
	margin-top: 4px;
}

#layers_container {
	margin-bottom: 50px;
}

.graphs_here {
	margin-bottom: 30px;
}

.fenced {
        height: auto;
        width: auto;
        min-width: 1em;
        padding-left: 0.5em;
        display: inline flow-root;

        border-left: 3px solid;
        border-right: 3px solid;

        border-top-left-radius: 1em 5em;
        border-bottom-left-radius: 1em 5em;

        border-top-right-radius: 1em 5em;
        border-bottom-right-radius: 1em 5em;

        padding-left: 20px;
        padding-right: 20px;
}

.full_width_hr {
	width: 100%;
}

.layer_data_flow_item {
	margin: 3px;
}

.best_result {
	background-color: green;
	color: white;
}

.start_training {
	background-color: #9ACD32;
	color: black;
}

.stop_training {
	background-color: #ff9696;
	color: black;
}


.ribbon-group {
	margin: 0px;
	padding: 0px;
}

#memory_debugger_div {
	right: 5px;
	position: absolute;
}

#register {
	user-select: none;
}

.download_link {
	color: red;
}
