html {
	min-width: 1200px;
	min-height:100%;
	min-width: 1310px;
	outline: none;
	color: #000000;
	font-family: Segoe UI,Helvetica,Arial,sans-serif;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	font-family:Arial, Calibri, Helvetica, Arial;
	font-size: 15px;
	background: rgb(184,245,246);
	background: radial-gradient(farthest-corner at 0px 0px, rgba(184,245,246,1) 0%, rgba(3,86,128,1) 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.container {
	width: 80%;
	margin: auto;
	padding: 10px;
}

.left {
	width: 15%;
	float: left;
	height: auto;
}

.right {
	margin-left: 15%;
	height: auto;
}

#error {
	color: red;
	background-color: white;
}

.configtable {
	width: 100%;
}

#output {
	max-width: 120px;
	max-height: 120px;
}

.layer {
	min-height: 40px;
	margin-bottom: 5px;
}

.current {
	overflow: auto;
}

#wizard > .content {
	min-height: 600px;
	height: 80%;
}

#progressbar {
	margin-top: 20px;
}

.progress-label {
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
}

.ui-dialog-titlebar-close {
	display: none;
}

.layer_data {
	//max-height: 250px;
	overflow-y: auto;
}

#predict_error {
	color: red;
}

.kernel_layer_image {
	image-rendering: crisp-edges;
	margin: 5px;
}


.layer_image {
	image-rendering: crisp-edges;
	margin: 5px;
}

.image_grid {
	//max-height: 500px;
	overflow-y: auto;
}

.upload-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
}

.btn {
	border: 2px solid gray;
	color: gray;
	background-color: white;
	padding: 8px 5px;
	border-radius: 8px;
	font-size: 20px;
	font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

.side_by_side_container {
	width: 100%;
	margin: auto;
	padding: 10px;
}

.left_side {
	min-width: 500px;
	float: left;
}

.right_side {
	overflow: hidden;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.draggable_item {
	padding: 0px;
}

input {
	line-height: 1.5em;
	font-size: 10px;
}

.ribbon-toolbar {
	margin: auto;
	text-align: center;
}

.descriptions_of_layers {
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	writing-mode: vertical-rl;
	background-color: white;
	border-radius: 5px;
	//background: linear-gradient(rgba(255, 255, 255, 0.6) 60%, rgba(255, 255, 255, 0.08) 100%);
	background: linear-gradient(135deg, rgba(255,255,255,0.7021009087228641) 0%, rgba(237,237,237,0.12226897594975494) 10%, rgba(230,230,230,0.43599446614583337) 18%, rgba(250,250,250,0.09425777146796221) 32%, rgba(242,242,242,0.3659664549413515) 39%, rgba(228,228,228,0.4331933456976541) 52%, rgba(255,255,255,0.3127451664259454) 60%, rgba(252,252,252,0) 69%, rgba(248,248,248,0.2623249983587185) 79%, rgba(242,242,242,0.04663872384891454) 97%);
	border: solid #a3a8ac 1px;
}

.optimizer_metadata_input {
	max-width: 100px;
}

.less_transparent_glass_box {
	position: relative;
	background: rgb(255,255,255, 0.2);
	background: linear-gradient(135deg, rgba(255,255,255,0.7021009087228641) 70%, rgba(237,237,237,0.12226897594975494) 80%, rgba(230,230,230,0.43599446614583337) 88%, rgba(250,250,250,0.09425777146796221) 82%, rgba(242,242,242,0.3659664549413515) 79%, rgba(228,228,228,0.4331933456976541) 89%, rgba(255,255,255,0.3127451664259454) 90%, rgba(252,252,252,0) 85%, rgba(248,248,248,0.2623249983587185) 90%, rgba(242,242,242,0.04663872384891454) 97%);
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
	border-radius: 5px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	border: solid #a3a8ac 1px;
}

.less_transparent_glass_box:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.6);
	filter: blur(10px);
	margin: -20px;
}

.glass_box {
	position: relative;
	//background: linear-gradient(rgba(255, 255, 255, 0.35) 8px, rgba(255, 255, 255, 0.1) 10px, rgba(255, 255, 255, 0.08) 100%);
	background: rgb(255,255,255, 0.2);

	background: linear-gradient(135deg, rgba(255,255,255,0.7021009087228641) 0%, rgba(237,237,237,0.12226897594975494) 10%, rgba(230,230,230,0.43599446614583337) 18%, rgba(250,250,250,0.09425777146796221) 32%, rgba(242,242,242,0.3659664549413515) 39%, rgba(228,228,228,0.4331933456976541) 52%, rgba(255,255,255,0.3127451664259454) 60%, rgba(252,252,252,0) 69%, rgba(248,248,248,0.2623249983587185) 79%, rgba(242,242,242,0.04663872384891454) 97%);

	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
	border-radius: 5px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	border: solid #a3a8ac 1px;
}

.glass_box:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .2);
	filter: blur(10px);
	margin: -20px;
}

.ribbon_tab_content {
	background: rgb(156,183,233);
	background: linear-gradient(180deg, rgba(156,183,233,1) 0%, rgba(77,103,164,1) 20%);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.warning_container {
	background-color: red;
}

.warning_layer {
	color: white;
}

.placeholder {
	outline: 1px dashed #0f0f0f;
}

.input_image_grid {
	//max-height: 500px;
	overflow-y: auto;
}

button, select, input {
	font-size: 18px;
	border:solid 1px #7da2ce;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	box-shadow: inset 0 0 1px #fff; -moz-box-shadow: inset 0 0 1px #fff; -webkit-box-shadow: inset 0 0 1px #fff;
}

button:hover, select:hover, input:hover {
	border:solid 1px #7da2ce;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	box-shadow: inset 0 0 1px #fff; -moz-box-shadow: inset 0 0 1px #fff; -webkit-box-shadow: inset 0 0 1px #fff;
	background-color:#cfe3fd;
	background: -moz-linear-gradient(top, #dcebfd, #c2dcfd);
	background: -webkit-gradient(linear, center top, center bottom, from(#dcebfd), to(#c2dcfd));
}

.layer_identifier {
	font-variant-caps: petite-caps;
}

.add_remove_layer_button {
	width: 50px;
}

.add_layer {
	color: green;
}

.remove_layer {
	color: red;
}

.layer_data_visualizations {
	display: flex;
	align-items: center;
}

select option:disabled {
	color: #efefef;
	font-weight: bold;
}

.symbol_button {
	user-select: none;
}

.enabled_symbol {
	color: #4272c5;
	cursor: pointer;
}

.disabled_symbol {
	color: #b4b4b4;
	cursor: not-allowed;
	opacity: 0.7;
}

#save_dialog {
	position: absolute;
	min-width: 600px;
	width: 99%;
	min-height: 500px;
	height: 99%;
	z-index: 999;
	display: none;
	top: 0;
	left: 0;
	border: 1px solid #ddd;
	border-radius: 5px;
	overflow: hidden;
	padding: 10px;
}

.layer_setting {
	width: 400px;
}

.call_counter_container {
	display: none;
}

.input_field {
	width: 100%;
}

.vg-tooltip-hidden {
	display: none !important;
}
